.message
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #f5f5f5;
  position: relative;
  .r_top
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    .micSwitch
        color: #aaa;
        position: absolute;
        right: 158px;
        top: 280px;
        z-index:99;
        padding: 10px 0 10px 0;
        font-size: 46px !important;
  .resultWrap
    //overflow: scroll;
    margin-top: 60px;
    flex:1; 
    // -webkit-overflow-scrolling: touch;
    min-height:15vh;
  .at-toast
    .toast-body-content__img-item
      height: 72px;
      .taro-img__mode-scaletofill
        width: 100%;
        height: auto;
    .at-pagination
      background: #fff;
      margin: 20px 0;   
  .speak
    z-index: 9999;
    .at-fab
      position: fixed;
      bottom: 200px;
      right: 50%;    
      margin-right: -56px;
  .relativity
    margin-top: 80px;
    padding: 0 40px;
    min-height: 15vh;
    flex:1;
    .none
      font-size: 28px;
      padding: 20px;
      text-align: center;
    .at-list__item
      font-size: 28px;
      .at-list__item-extra
        width: 0;
        flex: 0;
    .page
      margin: 0;
      background: #fff;
      padding: 10px; 