.modal
  z-index: 9999;
  .at-modal__container
    width: 96%;
    .title
      color: #0081ff;
      border: 1px solid #ccc;
      text-align: center;
    .s-item
      border: 1px solid #ccc;
      text-align: center;
      padding: 10px 0;
      &.green
        color: green;
      &.red
        color: red;
    .out
      word-wrap:break-word
      