.OfficeInfo
    padding-left: 80px;
    .OfficeHeader
        font-size: 28px;
        font-weight: 600;
    .OfficeBody
        margin-top: 24px;
        font-size: 26px;
        p
            line-height: 1.6;
        label
            font-weight: 600;
        span
            color: #a3a3a3;