.business
  font-size: 28px;
  padding: 20px;
  margin: 30px;
  background: #fff;
  border-radius: 20px;
  p
    text-indent: 56px;
    word-break: break-word;
  img
    width: 100%;
    display: block;
  .person
    width:50%;
    float:left;
    margin-bottom: 5px;
    margin-right: 5px;
  .businessSource
    text-align: right;