.backgroundWrap
    background: url(../../statics/bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position relative;
    .slogan
        font-size: 28px;
        position: absolute;
        left: 58px;
        top: 24px;
        color: #fff;
    .title
        font-size: 64px;
        color: #fff;
        position: absolute;
        top:  204px;
        font-weight: 800;
    .search
        width: 100%;
        background: transparent;
        // position: absolute;
        top: 212px;
        height: 80px !important;
        z-index: 9;
        .at-search-bar__clear
            display: none !important;
			