.bookSummary_listItem
  border-bottom: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  .top
    font-size: 28px;
  .bottom
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .b-left
      .img
        width: 100px;
        height: auto;
    .b-right
      .at-icon
        font-size: 50px;
        color: #3c3c3c;  
    .b-center
      padding: 0 20px;
      .info
        white-space:normal;
        word-break:break-all;
        word-wrap:break-word; 
  &:active
    background: #f0f0f0;
      


      

