.HistoryList
	width:72%;
	background:white;
	position:absolute;
	top:468px;
	left:44px;
	z-index:999;
	display:none;
	border:1px solid #f3f3f3;
	border-top:none;
	.List-text
		display:flex;
		justify-content:space-between;
		align-items:center;
		list-style:none;
		font-size:24px;
		color:#a4a4a4;
		padding:10px 20px;
		border-bottom:1px solid #f3f3f3;
	.List-a
		font-size:24px;
		color:#a4a4a4;
		padding:10px 20px;
		border-bottom:1px solid #f3f3f3;	
.HistoryList_a
	width:66%;
	background:white;
	position:absolute;
	top:352px;
	left:68px;
	z-index:999;
	display:none;
	border:1px solid #f3f3f3;
	border-top:none;
	.List-text
		display:flex;
		justify-content:space-between;
		align-items:center;
		list-style:none;
		font-size:24px;
		color:#a4a4a4;
		padding:10px 20px;
		border-bottom:1px solid #f3f3f3;
	.List-a
		font-size:24px;
		color:#a4a4a4;
		padding:10px 20px;
		border-bottom:1px solid #f3f3f3;