.scholar_listItem
  border-bottom: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  .bottom
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .b-left
      .img
        width: 100%;
        height: auto;
    .b-center
      margin-left: 20px;
      .name
        font-size: 32px;
      .info
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;  
        .richText
          display: inline-block;  
  &:active
    background: #f0f0f0;
      


      

