.at-modal
  z-index: 10000;
.at-search-bar
  &::after 
    border-bottom: none;
  .at-search-bar__input-cnt
    background-color: #fff;
    border-radius: 40px;
    height: 80px;
    .at-search-bar__input
      height: 80px !important;
      font-size: 28px !important;
    .at-search-bar__clear
      height: 80px !important;
@font-face {
  font-family: 'iconfont';  /* project id 1224703 */
  src: url('./statics/iconfont.eot');
  src: url('./statics/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./statics/iconfont.woff2') format('woff2'),
  url('./statics/iconfont.woff') format('woff'),
  url('./statics/iconfont.ttf') format('truetype'),
  url('./statics/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dislike:before {
  content: "\e6e9";
}

.icon-microphone:before {
  content: "\e6e0";
}

.icon-like:before {
  content: "\e705";
}
    


    