.reference
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom:50px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 16px;
  background: #fff;
  border-radius: 8px;
